body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1D232A;
    color: white;
    top: 0;
    margin-top: 0;
    left: 0;
    margin-left: 0;
    margin-right: 0;
}



.menu-lista {
    display: none;
    list-style: none;
    display: flex;
    justify-content: end;
}

.menu-item {
    color: white;
    text-decoration: none;
    padding: 1em;
    display: none;
}

.texto-redes {
    color: #bdc1c6;
    display: inline;
}

.perfil-img {
    background-color: #525d68;
    border-radius: 110px;
    border: white 2px solid;
}

.nome {
    font-size: 24px;
    font-weight: bold;
}

.texto-perfil {
    line-height: 2em;
}



.perfil {
    display: block;
    text-align: center;
    padding: 2em;
    align-items: center;
    position: fixed;
}

.material-icons.md-18 {
    font-size: 14px;
    text-align: center; 
}

.box-localizacao {
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: baseline;
    padding-right: 20px;
}

.box-email {

    display: none;
}

.texto-perfil {
    line-height: 2em;
}

.div-projetos p{
    margin: 0;
    text-align: center;
    font-size: 12px;
    color: #bdc1c6;
}

.titulo-colaboradores {
    text-align: center;
    margin: 0;
    text-align: center;
    font-size: 12px;
    color: #bdc1c6;
}

.box-projetos {
    display: flex;
    justify-content: center;
}

.projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    width: 1200px;
}

.texto-projeto {
    text-align: left;
    padding-left: 150px;
    font-size: 24px;
    display: none;
}

.icones {
    display: none;
}

footer {
    font-size: 10px;
    text-align: center;
    padding-top: 20px;
    line-height: 0;
    display: none;
}



@media screen and  (max-device-width: 700px) {

    .botao {
        color: #bdc1c6;
        border: none;
        background-color: #1D232A;
    }

    .menu {
        position: fixed;
    }

    .icones {
        display: flex;
        justify-content: space-between;
        background-color: #1D232A;
        width: 100%;
        position: fixed;
    }
    
    .redes {
        position: absolute;
        margin-left: -40px;
        margin-top: 20px;
    }

    .texto-redes {
        position: absolute;
        margin-top: 10px;
        margin-top: 30px;
        color: #bdc1c6;
    }

    .texto-menu {
        display: flex;
        text-align: center;
        align-items: center;
        padding: 10px;
        color:  #bdc1c6;
    }

    .menu-item {
        margin-top: 20px;
        display: inline-block;
        padding: 1em;
        text-decoration: none;
        list-style: none;
        list-style-type: none;
    }

    .menu-lista {
        list-style: none;
        width: 35vh;
        background-color: #1D232A;
        height: 100vh;
        border-right: #525d68 1px solid;
    }


    #burguer {
        display: block;
        cursor: pointer;
        padding: 10px;
    }

    .menu-lista {
        display: none;
    }

    .menu {
        position: fixed;
    }

    .perfil {
        padding-top: 80px;
        display: grid;
        text-align: center;
        justify-content: center;
        align-items: center;
        position: static;
    }

    .box-img-principal {
        display: flex;
        justify-content: center;
    }

    .texto-perfil {
        margin: 0;
        padding-top: 40px;
    }



    .box-email {
        padding-left: 0;
        display: block;
        margin: 5px;
    }
    
    
    .projetos {
        display: grid;
        grid-template-columns: 100%;
        text-align: left;
        justify-items: center;
    }

    

    footer {
        font-size: 10px;
        text-align: center;
        padding-top: 20px;
        line-height: 5px;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    hr {
        width: 200px;
    }

    

}